{#-

## Copyright (C) 2018 Internet Neutral Exchange Association Company Limited By Guarantee.
## All Rights Reserved.
##
## This file is part of IXP Manager.
##
## IXP Manager is free software: you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by the Free
## Software Foundation, version 2.0 of the License.
##
## IXP Manager is distributed in the hope that it will be useful, but WITHOUT
## ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
## FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
## more details.
##
## You should have received a copy of the GNU General Public License v2.0
## along with IXP Manager.  If not, see:
##
## http://www.gnu.org/licenses/gpl-2.0.html
##
## --
##
## top.sls - saltstack top file
##
## methodology:
##
##   - import all the local switches
##   - each switch should have its own directory for pillar data.  You can
##     symlink the files in each type of directory and it should do the
##     right thing.  E.g.  for a cumulus switch called "ixpswitch1", create
##     a directory called ixpswitch1/, then symlink all the files/symlinks
##     in the cumulus/ directory to there.

#}

base:
  ixpswitch1:
    - ixpswitch1
  ixpswitch2:
    - ixpswitch2
