{#-
## Copyright (C) 2018 Internet Neutral Exchange Association Company Limited By Guarantee.
## All Rights Reserved.
##
## This file is part of IXP Manager.
##
## IXP Manager is free software: you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by the Free
## Software Foundation, version 2.0 of the License.
##
## IXP Manager is distributed in the hope that it will be useful, but WITHOUT
## ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
## FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
## more details.
##
## You should have received a copy of the GNU General Public License v2.0
## along with IXP Manager.  If not, see:
##
## http://www.gnu.org/licenses/gpl-2.0.html
##
## --
##
## variables.j2 - static variables for saltstack states
##
## methodology:
##
##   - assign important variables
##
##   - the mellanox spectrum platform will not punt sflow samples if the
##     sample rate is configured to be less than 34463.
#}

{%-

set vars = {
    'sflow': {
        'collector': 'x.y.z.w',
        'samplerate': {
            'default': 8192,
            1000:      1024,
            10000:     4096,
            40000:     8192,
            100000:    32768,
        },
    },
    'snmp': {
        'defaultcommunity': 'public',
    },
}

%}
