{#-

## Copyright (C) 2018 Internet Neutral Exchange Association Company Limited By Guarantee.
## All Rights Reserved.
##
## This file is part of IXP Manager.
##
## IXP Manager is free software: you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by the Free
## Software Foundation, version 2.0 of the License.
##
## IXP Manager is distributed in the hope that it will be useful, but WITHOUT
## ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
## FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
## more details.
##
## You should have received a copy of the GNU General Public License v2.0
## along with IXP Manager.  If not, see:
##
## http://www.gnu.org/licenses/gpl-2.0.html
##
## --
##
## IXP forwarding database file for edge interfaces
##

#}
{%- set fdbtable = [ ] %}

{%- for iface in pillar.get('layer2interfaces', {}) %}

{%- set lagmaster = iface.lagmaster|default(false) %}
{%- set lagmember = (iface.lagindex|default(false) and not lagmaster) %}

{%- if iface.type == 'edge' %}

{%- for vlan in iface.vlans|default([]) %}
{%- for mac in vlan.macaddresses|default([]) %}

{%- set vlantag = vlan.number %}
{#
{%- if iface.dot1q|default(false) %}
{%- set vlantag = vlan.number %}
{%- else %}
{%- set vlantag = 1 %}
{%- endif %}
#}

{%- set fdbentry = {
    'mac': mac,
    'dev': iface.name,
    'vlan': vlantag,
    'master': 'bridge',
    'state': 'static',
  }
%}

{%- if not lagmember %}
{%- do fdbtable.append(fdbentry) %}
{%- endif %}

{%- endfor %}
{%- endfor %}

{%- endif %}

{%- endfor -%}

{{ fdbtable|default()|json(indent=2) }}
