## Copyright (C) 2018 Internet Neutral Exchange Association Company Limited By Guarantee.
## All Rights Reserved.
##
## This file is part of IXP Manager.
##
## IXP Manager is free software: you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by the Free
## Software Foundation, version 2.0 of the License.
##
## IXP Manager is distributed in the hope that it will be useful, but WITHOUT
## ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
## FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
## more details.
##
## You should have received a copy of the GNU General Public License v2.0
## along with IXP Manager.  If not, see:
##
## http://www.gnu.org/licenses/gpl-2.0.html
##
## --
##
## hsflowd.conf - host sflow configuration file
##
## Configured via SaltStack templates: all local edits will be overwritten.
##

{%- from "cumulus/variables.j2" import vars with context %}

sflow {
	DNSSD = off
	polling = 60
	sampling.1G =   {{ vars.sflow.samplerate.1000   | default (vars.sflow.samplerate.default) }}
	sampling.10G =  {{ vars.sflow.samplerate.10000  | default (vars.sflow.samplerate.default) }}
	sampling.40G =  {{ vars.sflow.samplerate.40000  | default (vars.sflow.samplerate.default) }}
	sampling.100G = {{ vars.sflow.samplerate.100000 | default (vars.sflow.samplerate.default) }}

	collector {
		ip = {{ vars.sflow.collector }}
		udpport = {{ vars.sflow.port }}
	}
}
